/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

.ion-padding-top-header {
    padding-top: calc(var(--ion-padding) + 39px);
}

ion-item::part(native) {
    padding-left: 0px;
}

.ion-no-margin-vertical {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    margin: 0 16px;
}

.ion-chip-list {
    margin-top: 3px;
    min-height: 20px;
    padding-top: 3px;
    padding-bottom: 3px;
}
//xs
@media (max-width: 575px) {
    
}
//sm
@media (min-width: 576px) and (max-width: 767px) {
    
}
//md
@media (min-width: 768px) and (max-width: 991px) {
    
}
//lg
@media (min-width: 992px) and (max-width: 1199px) {
    .ion-pt-lg {
        padding-top: 16px;
    }
}
//xl
@media (min-width: 1200px) {
    .ion-pt-xl {
        padding-top: 16px;
    }
}
