<app-main-content urlBack="/home" [search]="true" menu-id="proposta">
  <ion-content [fullscreen]="true">
    <ion-header class="ion-no-border">
      <ion-toolbar>
        <ion-title>Lista Propostas</ion-title>        
      </ion-toolbar>
    </ion-header>
    <ion-list [inset]="true" class="ion-no-margin-vertical">
      <ion-item detail="false" *ngFor="let proposta of propostas" [button]="true">
        <ion-label (click)="detalheProposta(proposta)">
          <strong>{{ proposta.codProposta }}</strong>
          <ion-text class="ion-text-uppercase">
            <h3>{{proposta.cliente.codCliente}} - {{
              proposta.cliente.nomeFantasia}}
            </h3>
          </ion-text>
          <ion-text class="ion-text-wrap">
            <h3>
              {{proposta.unidade.codUnidade}} - {{
              proposta.unidade.nomeFantasia}}
            </h3>
          </ion-text>
          <ion-note color="medium" class="ion-text-wrap">
            {{proposta.usuario.nome}}
          </ion-note>
        </ion-label>
        <div class="metadata-end-wrapper" slot="end">
          <ion-chip [color]="typeStatus(proposta.status)" class="ion-chip-list">{{
            labelStatus(proposta.status)}}</ion-chip>
          <ion-note color="medium">{{ proposta.createdAt | date: 'dd/MM/yyyy' }}</ion-note>
          <ion-button shape="round" fill="clear" [id]="'mais-opcoes-' + proposta.id" *ngIf="proposta.status === 1">
            <ion-icon name="ellipsis-vertical" slot="icon-only"></ion-icon>
          </ion-button>
          <ion-popover [trigger]="'mais-opcoes-' + proposta.id" [dismissOnSelect]="true" *ngIf="proposta.status === 1">
            <ng-template>
              <ion-content>
                <ion-list lines="none">                  
                  <ion-item [button]="true" class="ion-padding-start" (click)="aprovar(proposta)">
                    <ion-icon slot="start" name="checkmark"></ion-icon>
                    <ion-text>Aprovar</ion-text>
                  </ion-item>
                  <ion-item [button]="true" class="ion-padding-start" (click)="reprovar(proposta)">
                    <ion-icon slot="start" name="close"></ion-icon>
                    <ion-text>Reprovar</ion-text>
                  </ion-item>
                </ion-list>
              </ion-content>
            </ng-template>
          </ion-popover>
        </div>
      </ion-item>
    </ion-list>
    <ion-item *ngIf="propostas.length === 0">
      <ion-label class="ion-text-center">Nenhuma proposta encontrada!</ion-label>
    </ion-item>
    <ion-fab slot="fixed" vertical="bottom" horizontal="end">
      <ion-fab-button (click)="criarProposta()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ion-content>
</app-main-content>