<app-main-content urlBack="/home" [search]="true" menu-id="contrato">
  <ion-content [fullscreen]="true">
    <ion-header class="ion-no-border">
      <ion-toolbar>
        <ion-title>Lista Contratos</ion-title>        
      </ion-toolbar>
    </ion-header>
    <ion-list [inset]="true" class="ion-no-margin-vertical">
      <ion-item detail="false" *ngFor="let contrato of contratos" [button]="true">
        <ion-label (click)="detalheContrato(contrato)">
          <strong>{{ contrato.codContrato }}</strong>
          <ion-text class="ion-text-uppercase">
            <h3>{{contrato.cliente.codCliente}} - {{
              contrato.cliente.nomeFantasia}}
            </h3>
          </ion-text>
          <ion-text class="ion-text-wrap">
            <h3>
              {{contrato.unidade.codUnidade}} - {{
              contrato.unidade.nomeFantasia}}
            </h3>
          </ion-text>
          <ion-note color="medium" class="ion-text-wrap">
            {{contrato.usuario.nome}}
          </ion-note>
        </ion-label>
        <div class="metadata-end-wrapper" slot="end">
          <ion-chip [color]="typeStatus(contrato.status)" class="ion-chip-list">{{
            labelStatus(contrato.status)}}</ion-chip>
          <ion-note color="medium">{{ contrato.createdAt | date: 'dd/MM/yyyy' }}</ion-note>
          <ion-button shape="round" fill="clear" [id]="'mais-opcoes-' + contrato.id">
            <ion-icon name="ellipsis-vertical" slot="icon-only"></ion-icon>
          </ion-button>
          <ion-popover [trigger]="'mais-opcoes-' + contrato.id" [dismissOnSelect]="true">
            <ng-template>
              <ion-content>
                <ion-list lines="none">                  
                  <ion-item [button]="true" class="ion-padding-start" (click)="aprovar(contrato)">
                    <ion-icon slot="start" name="checkmark"></ion-icon>
                    <ion-text>Aprovar</ion-text>
                  </ion-item>
                  <ion-item [button]="true" class="ion-padding-start">
                    <ion-icon slot="start" name="close"></ion-icon>
                    <ion-text>Reprovar</ion-text>
                  </ion-item>
                </ion-list>
              </ion-content>
            </ng-template>
          </ion-popover>
        </div>
      </ion-item>
    </ion-list>
    <ion-item *ngIf="contratos.length === 0">
      <ion-label class="ion-text-center">Nenhuma proposta encontrada!</ion-label>
    </ion-item>
  </ion-content>
</app-main-content>