<app-main-content urlBack="/home" [search]="true" menu-id="orcamento">
  <ion-content [fullscreen]="true">
    <ion-header class="ion-no-border">
      <ion-toolbar>
        <ion-title>Lista Orçamentos</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-list [inset]="true" class="ion-no-margin-vertical">
      <ion-item detail="false"  >
        <ion-label>
          <strong>O465/2024</strong>
          <ion-text class="ion-text-uppercase">planet cap joinville ltda</ion-text>
          <ion-note color="medium" class="ion-text-wrap">
            Luiz Turnes
          </ion-note>
        </ion-label>
        <div class="metadata-end-wrapper" slot="end">
          <ion-chip color="danger" class="ion-chip-list" >Rejeitado</ion-chip>
          <ion-note color="medium">06:11</ion-note>
        </div>
      </ion-item>
      <ion-item detail="false"  >
        <ion-label>
          <strong>O465/2024</strong>
          <ion-text class="ion-text-uppercase">planet cap joinville ltda planet cap joinville ltda</ion-text>
          <ion-note color="medium" class="ion-text-wrap">
            Luiz Turnes
          </ion-note>
        </ion-label>
        <div class="metadata-end-wrapper" slot="end">
          <ion-chip color="warning" class="ion-chip-list" >Aguardando</ion-chip>
          <ion-note color="medium">Ontem</ion-note>
        </div>
      </ion-item>
      <ion-item detail="false"  >
        <ion-label>
          <strong>O465/2024</strong>
          <ion-text class="ion-text-uppercase">planet cap joinville ltda</ion-text>
          <ion-note color="medium" class="ion-text-wrap">
            Luiz Turnes
          </ion-note>
        </ion-label>
        <div class="metadata-end-wrapper" slot="end">
          <ion-chip color="success" class="ion-chip-list">Fechado</ion-chip>
          <ion-note color="medium">21/09/2024</ion-note>          
        </div>
      </ion-item>
    </ion-list>
    <ion-fab slot="fixed" vertical="bottom" horizontal="end">
      <ion-fab-button (click)="criarOrcamento()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ion-content>
</app-main-content>
