<app-main-content urlBack="/proposta" menu-id="detalhe-proposta">
  <ion-content [fullscreen]="true">
    <ion-header class="ion-no-border">
      <ion-toolbar>
        <ion-title size="large" slot="start">Detalhe Proposta</ion-title>
        <div slot="end" [ngClass]="{'disabled' : proposta.status > 1}">
          <ion-button (click)="aprovarProposta()">
            <ion-icon slot="start" name="checkmark"></ion-icon>
            <ion-text>Aprovar</ion-text>
          </ion-button>
          <ion-button color="danger" class="ion-margin-end" (click)="reprovarProposta()">
            <ion-icon slot="start" name="close"></ion-icon>
            <ion-text>Reprovar</ion-text>
          </ion-button>
        </div>
      </ion-toolbar>
    </ion-header>
    <ion-card>
      <ion-card-header>
        <ion-card-title>
          <h1>Geral</h1>
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list [inset]="true" lines="none" class="ion-no-margin-vertical">
          <ion-item>
            <ion-label slot="start" class="ion-no-margin">
              <strong>{{ proposta.codProposta }}</strong>
            </ion-label>
            <div class="metadata-end-wrapper" slot="end">
              <ion-chip [color]="typeStatus(proposta['status'])" class="ion-chip-list">{{
                labelStatus(proposta['status'])}}</ion-chip>
              <ion-note color="medium">{{ proposta.createdAt | date: 'dd/MM/yyyy' }}</ion-note>
            </div>
          </ion-item>
          <ion-item>
            <ion-label slot="start">
              Nº de funcionários:
              <ion-text color="primary">
                {{proposta.funcionarios}}
              </ion-text>
            </ion-label>

          </ion-item>
          <ion-item *ngIf="proposta.usuario">
            <ion-label slot="start">
              Vendedor:
              <ion-text color="primary">
                {{proposta.usuario.nome}}
              </ion-text>
            </ion-label>
          </ion-item>
          <ion-item *ngIf="proposta.unidade">
            <ion-label slot="start">
              Contratante:
              <ion-text color="primary">
                {{proposta.unidade.codUnidade}} - {{proposta.unidade.nomeFantasia}}
              </ion-text>
            </ion-label>
          </ion-item>
          <ion-item *ngIf="proposta.cliente">
            <ion-label slot="start">
              Contratado:
              <ion-text color="primary">
                {{proposta.cliente.codCliente}} - {{proposta.cliente.nomeFantasia}}
              </ion-text>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-title>
          <h1>Serviços</h1>
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col size="9">Nome</ion-col>
            <ion-col>Valor</ion-col>
          </ion-row>
          <ion-row *ngFor="let propostaServico of proposta.propostaServicos">
            <ion-col size="9">{{propostaServico.servicos.codServico}} - {{propostaServico.servicos.descricao}}</ion-col>
            <ion-col>{{propostaServico.valor | currency: 'BRL' }}</ion-col>
          </ion-row>
          <ion-row *ngIf="proposta.deslocamento">
            <ion-col size="9">Deslocamento</ion-col>
            <ion-col>{{proposta.valorDeslocamento | currency: 'BRL'}}</ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="9"><strong>Total</strong></ion-col>
            <ion-col><strong>{{proposta.total | currency: 'BRL'}}</strong></ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </ion-content>
</app-main-content>